<!--The content below is only a placeholder and can be replaced.-->


<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-success" type="button">ชื่อ</button>
  </div>
  <input type="text" class="form-control" 
  placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-success" type="button">คะแนน</button>
  </div>
  <input type="number"  class="form-control" [(ngModel)]="score"
  placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<span *ngIf="score>50">เกรด A</span>
<span *ngIf="score<50">เกรด F</span>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Student Name</th>
        <th>weight</th>
        <th>height</th>
        <th>ผลลัพธ์</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{student.studentId}}</td>
        <td>{{student.name}}</td>
        <td>{{student.weight}}</td>
        <td>{{student.height}}</td>
        <td>{{student.bmi}}</td>
        <td *ngIf="student.bmi>25">อ้วน</td>
        <td *ngIf="student.bmi<25">ผอม</td>
        <td *ngIf="student.bmi==25">ปกติ</td>
        
      </tr>
      <tr *ngFor="let s of StudentList;">
          <td>{{s.studentId}}</td>
          <td>{{s.name}}</td>
          <td>{{s.weight}}</td>
          <td>{{s.height}}</td>
          <td>{{s.bmi}}</td>
          <td *ngIf="s.bmi>25">อ้วน</td>
          <td *ngIf="s.bmi<25">ผอม</td>
          <td *ngIf="s.bmi==25">ปกติ</td>

        </tr>
    </tbody>
  </table>
  
